<h1>All Audition Notices</h1>
<p><%= link_to "New Audition Notice", new_director_path, class: 'btn btn-success' %></p>
<% @directors.each do |director| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to director.title, director %>
      </h4>
    </div>
  </div>
<% end %>