<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
      </div>
    </div>
  </div>
</div>

<h3>Bio:</h3>
[Placeholder text]

<p><h4>Upcoming auditions posted by <%= @user.name %>:</h4></p>
<%= render @user.directors %>